/supercoder_Lab_5/nbproject/private/
/supercoder_Lab_5/dist/
/supercoder_Lab_8/nbproject/private/
/Assignment_4/nbproject/private/
/Assignment_4/build/
/supercoder_Assignment_4/nbproject/private/
/supercoder_Lab_8/build/
/supercoder_Assignment_4/build/
/supercoder_Lab_5/build/
/supercoder_Final_Project/nbproject/private/
/supercoder_Final_Project/build/
/supercoder_Final_Project/dist/
/Lab10/db4odemo/build/
/Lab10/db4odemo/dist/
/Lab10/db4odemo/nbproject/private/